@charset "utf-8";
/* CSS Document */

body { 
	font-family: Arial;
	margin: 0 auto;
	width: 48%;
	background: url(../Media/guitar.png);
	background-size: 200px;
	background-color: #3293a8;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

button {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

table,th,td {
	border-style: solid;
	border-width:2px;
	border-color:#28bdb8;
}

table {
	margin: 0 auto;
	
}

a:link {
	background-color:#bfd9d8;
	color:#28bdb8;
}

a:hover {
	background-color:#c5d2e8;
	color:#28bdb8;
}

#mainline {
	position: absolute;
	left: 20%;
	width: 60%;
	top: 0px;
	background-color:#a7ccd1;
	z-index:-3;
	box-shadow: 0px 0px 60px #2d586b;
	border-radius: 25px;
	margin-top: 1%;
	margin-bottom: 2%;
}

a:active {
	background-color:#a7ccd1;
}

.title {
	background-color: #bfd9d8;
	margin-left: 2%;
	margin-right: 2%;
	padding-left: 100%;
	padding:2%;
	border-radius: 25px;
}

.headtitle {
	text-align:center;
	font-size:400%;
	margin-top:1%;
	margin-bottom:1%;
}

p {
	margin-left: 3%;
	margin-left: 3%;
}


